<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      input,
      button {
        font-size: 30px;
        color: white;
      }
      h1 {
        color: red;
      }
      button {
        background-color: silver;
      }
    </style>
  </head>
  <body>
    <h1>what is your name ?</h1>
    <input type="text" />
    <br /><br />
    <button>send to database</button>
  </body>
</html>
